.header .container,
.title .container,
.idea .container,
.services .container,
.Portfolio .container,
.About .container,
.Contact .container {
  width: 85%;
}
.header .container .links ul {
  list-style: none;
  justify-content: space-around;
  display: none;
  margin-right: 20px;
  width: 200px;
  height: 320px;
  position: absolute;
  top: 5px;
  border: 2px solid black;
}
